/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require header
 *= require main
 *= require material_icons
 *= require_self
 */
 body { font-family: 'Nunito', sans-serif; }

 form {
  display: flex;
  flex-direction: column;
  padding: 5rem 25%;

  section {
    width: 50%;

    label {
      display: inline-block;
      width: 100%;
    }

    input,
    textarea { width: 100%; padding: 0; }

    span.error {
      color: red;
      font-size: .8rem
    }

    .field_with_errors {
      label,
      input,
      textarea { color: red; }

      input,
      textarea { border: 1px solid red; }
    }
  }

  button[type='submit'] {
    width: 50%;
    display: inline-block;
    color: #fff;
    border: 1px solid #5cad5c;
    background-color: #5cad5c;
    border-radius: 5px;
    padding: .35rem 0;
    margin: 0 auto;
  }

  section, input { margin: .65rem auto; }
}

